.body{
    width: 100%;
    min-height: calc(100vh - 375px);
    background-color: #222A32;
    padding-top: 32px;

    &__content{
        width: 100%;
    }

    &__content__flex{
        display: flex;
        width: 100%;
    }
}
.body-without-padding{
    width: 100%;
    background-color: #222A32;
    padding-top: 0px;

    &__content{
        width: 100%;
    }

    &__content__flex{
        display: flex;
        width: 100%;
    }
}