.login-required-container{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    z-index: 11111;
    top: 0;
}
.login-required-button-register{
    width: 223px;
    height: 46px;
    background: none;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.login-required-head-text{
    font-size: 56px;
    color: white;
    margin-bottom: 48px;
    text-align: center;
}