.settings {
    display: block;
    max-width: 632px;
    width: 100%;
    margin: 0 auto;
    padding: 48px 0;

    @media (max-width: 1024px) {
      padding: 48px 24px;
      min-width: 100%;
    }

    &-btn {
        padding: 0 83px;
        margin-left: 43px;
        
        @media (max-width: 1200px) {
            padding: 0 63px;
            margin-left: 23px;
        } 

        @media (max-width: 1024px) {
            width: 100%;
            margin-top: 15px;
            margin-left: 0;
            padding: 0 43px;
        }
    }

    &-submit {
        width: 200px;

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &__verify {
        padding-bottom: 32px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #222A32;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &--status {
            width: fit-content;
            margin-right: 16px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;

            @media (max-width: 1024px)  {
                width: 100%;
            }

            span {
                color: #FF035B;
            }
        }

        &--btn {
            padding: 9px 34px;
            border-radius: 24px;
            border: 1px solid #FFDA00;
            background-color: transparent;
            color: #FFDA00;
            font-size: 14px;
            font-weight: 600;
            outline: none;
            cursor: pointer;

            @media (max-width: 1024px)  {
                width: 100%;
                margin-top: 15px;
            }
        }
    }

    &__identity {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            align-items: start;
            flex-direction: column;
        }

        &--right {
            max-width: 411px;
            width: 100%;
            margin-right: 16px;
            display: flex;
            align-items: center;
        }

        &--icon {
            width: 64px;
            height: 56px;
            margin-right: 12px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &--title {
            margin-bottom: 9px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
        }

        &--desc {
            color: #8698A2;
            font-size: 14px;
            font-weight: 500;
        }

        &--btn {
            width: 182px;
            height: 36px;

            @media (max-width: 1024px) {
                width: 100%;
                margin-top: 24px;
            }
        }
    }
}
.remove-border{
    border: none;
    margin-top: 10px;
}