.blockchain {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #242A31;
    border-radius: 22px;
    padding: 2px;

    &-item {
        width: 100%;
        background: transparent;
        outline: none;
        cursor: pointer;
        border: none;
        padding: 14px;
        font-size: 12px;
        color: #8997A1;
        font-weight: 600;
        text-align: center;
        
        &-active {
            border: 1px solid #1B2129;
            border-radius: 20px;
            background-color: #1B2129;
            color: #66CAC8;
        }
    }

}