.bets {
    margin-top: 48px;

    &__container {
        background-color: #19212A;
        border-radius: 12px;
        overflow: hidden;
        position: relative;

        &--out {
            width: 100%;
            overflow: auto;

            &::-webkit-scrollbar{
                height: 0px;
            }
        }
    
    }

    &__header {
        width: 100%;
        display: flex;
        padding: 32px 0 16px 0;
        border-bottom: 1px solid #222A32;
    }

    &__left {
        width: 50%;
        display: flex;

        @media (max-width:1024px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &__right {
        width: 50%;
        display: flex;

        @media (max-width:1024px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &__title {
        width: 100%;
        color: #8698A2;
        font-size: 14px;
        font-weight: 600;
    }

    &__game {
        width: 100%;
        margin-left: 17px;
        color: #8698A2;
        font-size: 14px;
        font-weight: 600;
    }
}