.active-casino-tab{
    color: white !important;
}
.active-casino-tab::before{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #31CDC9;
    position: absolute;
    bottom: -13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.casino-head-container{
    width: 100%;
    border-bottom: 1px solid #3D4C54;
    padding-bottom: 14px;
}
.casino-tab{
    color: #8698A2;
    cursor: pointer;
    margin: 0px 28px;
    position: relative;
    white-space: nowrap;
}
.casino-nav-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;

    // &::-webkit-scrollbar{
    //     height: 0px;
    // }

    // @media (max-width: 1024px) {
    //     overflow-y: hidden;
    //     overflow-x: auto;
    // }
}

.casino-nav-block-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    @media (max-width: 1024px) {
        overflow-y: hidden;
        overflow-x: auto;
    }

    &::-webkit-scrollbar{
        height: 0px;
    }
}

.casino-nav-filters {
    display: flex;
    align-items: center;
}

.casino-filter-list {
    width: 230px;
    padding: 12px 0;

    li {
        list-style: none;
        padding: 7px  16px;    
        color: #8997A1;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: #242A31;
            color: #fff;
        }
    }
}

.provaiders {
    width: 100%;
    margin-top: 27px;
    
    &-list {
        display: flex;
        overflow: auto;
        margin-left: -5px;
        margin-right: -5px;
    }

    &-item-out {
        display: flex;
        padding: 0 5px;
    }

    &-item {
        display: flex;
        align-items: center;
        background-color: #1B2129;
        border-radius: 32px;
        padding: 3px;
        cursor: pointer;

        &-cover {
            width: 46px;
            height: 46px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #242A31;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            margin-right: 13px;
            color: #8997A1;
            font-size: 22px;
            font-weight: 600;
        }
    }
}