.dropdown {
    position: absolute;
    padding: 32px 0px 32px 0px;
    background-color: #19212A;
    box-shadow: 0 4px 8px 0 rgba(#000, .5);
    border-radius: 12px;
    top: 60px;
    right: 0;

    @media (max-width: 1024px) {
        width: 100%;
        height: 100%;
        padding: 32px 24px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: #242A31;
    }

    &__menu {
        display: block;
    }

    &__item {
        list-style: none;
    }

    &__link {
        padding: 8px 48px 8px 32px;
        display: flex;
        align-items: center;
        color: #8698A2;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;

        @media (max-width: 1024px)  {
            margin-bottom: 8px;
            background-color: #1B2129;
            padding: 20px 24px;
            border-radius: 8px;
        }

        &:hover {
            color: #fff;
            background: #222A32;

            @media (max-width: 1024px)  {
                background-color: #242A31;
            }
        }
    }

    &__active {
        color: #fff;
        background: #222A32;
    }

    &__icon {
        margin-right: 12px;
    }

    &-back {
        display: none;

        @media (max-width: 1024px)  {
            display: flex;
        }

        margin-bottom: 32px;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;

        &-icon {
            margin-right: 16px;
        }

        &-text {
            color: #fff;
            font-size: 17px;
            font-weight: 700;
        }

    }
}