.dailybonuses {
    display: flex;
    margin-top: 24px;
    margin-left: -8px;
    margin-right: -8px;

    &__out {
        &::-webkit-scrollbar{
            height: 0px;
        }
        
        @media (max-width: 1024px) {
            overflow: auto;
        }
    }
}