.hr{
    width: 326px;
    height: 1px;
    opacity: .16;
    background: linear-gradient(to right, #8698A2 0%, #222A32 100%);
}
.reset-form-block{
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reset-form{
    margin: 48px 0px;
}
.reset-pass-head-text{
    margin-bottom: 32px;
    width: 326px;
    color: #8698A2;
}