.item {
    padding: 0 0 30px 0;

    &--profile {
        display: flex;
        align-items: center;
    }

    &--profile-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--name {
        margin-left: 10px;
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
    }

    &--footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--wagered {
        color: silver;

        span {
            color: aqua;
        }
    }

    &--next {
        display: flex;
        align-items: center;
        color: silver;

        p {
            color: #fff;
        }

        span {
            color: aqua;
        }
    }

    &--rate {
        width: 100%;
        height: 14px;
        border-radius: 8px;
        background-color: #222A32;
        overflow: hidden;
        display: block;
    }

    &--rated {
        width: 20%;
        height: 100%;
        background-color: #FFDA00;
        border-radius: 8px;
        display: block;
    }

    &--in {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--cover {
        width: 56px;
        height: 56px;
        margin-right: 16px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &--title {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

    &--desc {
        margin-top: 8px;
        color: #8698A2;
        font-size: 14px;
        font-weight: 500;
    }

    &--claim {
        padding: 9px 35px;
    }
}