.item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #222A32;
    padding: 16px 0;
    position: relative;

    &:hover {
        background-color: #26303B;

        &::before {
            content: "";
            width: 2px;
            height: calc(100% - 16px);
            display: block;
            background-color: #FFDA00;
            position: absolute;
            top: 8px;
            border-radius: 0 100px 100px 0;
        }
    }

    &__left {
        width: 50%;
        display: flex;

        @media (max-width:1024px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &__right {
        width: 50%;
        display: flex;

        @media (max-width:1024px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &__title {
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;

        img {
            margin-right: 12px;
        }
    }

    &__game {
        width: 100%;
        padding-left: 17px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
    }

    &__color {
        color: #31CDC9;
    }
}