.lobby {
    &-slot {
        &-list {
            display: flex;
            justify-content: space-between;
            margin-right: -8px;
            margin-left: -8px;

            &::-webkit-scrollbar{
                height: 0px;
            }
            
            @media (max-width: 1024px) {
                overflow-x: auto;
                overflow-Y: hidden;
            }
        }
    }
}