.menu {
    display: block;
    margin-left: 72px;

    @media (max-width: 1024px) {
        width: 50%;
        margin-left: 0;
        margin-bottom: 50px;
    }

    &__title {
        color: #fff;
        font-size: 16px;
        font-feature-settings: 700;
    }
    
    &__list {
        margin-top: 8px;

        li {
            list-style: none;

            a {
                display: block;
                padding: 8px 0;
                color: #8698A2;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    color: #31CDC9;
                    text-decoration: underline;
                }
            }
        }
    }
}