.profile {
    width: 100%;

    &__avatar {
        min-width: 74px;
        height: 74px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 32px;
        background-color: #ffda00;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__avatar {
        min-width: 74px;
        height: 74px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 32px;
        background-color: #ffda00;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: 100%;
        background-color: #19212A;
        border-radius: 12px;
        position: relative;

        &--title {
            margin-bottom: 24px;
            color: #ffff;
            font-size: 22px;
            font-weight: 700;
        }

        &--label {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 24px;
            padding-bottom: 32px;
            margin-bottom: 32px;
            border-bottom: 1px solid #222A32;

            @media (max-width: 1024px) {
                flex-direction: column;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 14px 24px;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        border-radius: 23px;
        background-color: #19212A;
        border: 1px solid #3D4C54;
    }
    
    &__btn {
        // border: none;
        outline: none;
        border-radius: 24px;
        cursor: pointer;
        
        &--change-pass {
            padding: 13px 32px;
        }

        &--links {
            display: flex;

            img {
                margin-right: 8px;
            }
        }

        &--link-acc {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 16px;
            width: calc(50% - 16px);
            padding: 13px;
            border: 1px solid #31CDC9;
            color: #31CDC9;
            font-size: 13px;
            font-weight: 600;
            border-radius: 24px;
        }
    }

    &__label {
        max-width: 411px;
        width: 100%;
        margin-right: 16px;
        display: block;

        @media (max-width: 1024px)  {
            max-width: 100%;
        }

        &--text {
            margin-bottom: 8px;
            color: #8698A2;
            font-size: 16px;
            font-weight: 700;
        }
    }

    &-back {
        display: none;
        margin-bottom: 32px;

        @media (max-width: 1024px)  {
            display: flex;
        }
    }
}