.social-item{
    width: 155px;
    height: 46px;
    background: #19212A;
    border-radius: 46px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}
.social-name{
    margin-left: 11px;
}