.menu {
    display: flex;
    align-items: center;
    background-color: #222A32;
    border-radius: 24px;
    margin-bottom: 32px;
    margin-top: 32px;

    &-item {
        display: block;
        width: 50%;

        &-link {
            display: flex;
            justify-content: center;
            padding: 14px 0;
            color: #8698A2;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            position: relative;
        }

        &-withdraw {
            color: #fff;

            &:before {
                content: "";
                width: 45px;
                height: 2px;
                background-color: #31CDC9;
                position: absolute;
                bottom: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }

        &-deposit {
            color: #fff;

            &:before {
                content: "";
                width: 45px;
                height: 2px;
                background-color: #31CDC9;
                position: absolute;
                bottom: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }
}