.message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 375px);
    p{
        color: white;
        font-size: 40px;
    }
}