.search {
    max-width: 320px;
    width: 100%;
    background-color: #19212A;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
        width: 48px;
    }

    &__out {
        width: 100%;
        margin-right: 20px;

        @media (max-width: 1024px) {
            margin-right: 0;
        }
    }

    &__input {
        width: 100%;
        padding: 14px 14px 14px 48px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #8698A2;
        font-size: 16px;
        font-weight: 500;
    }

    &__btn {
        position: absolute;
        z-index: 1;
        outline: none;
        left: 17px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}