.list {
    position: absolute;
    padding: 32px ;
    background-color: #19212A;
    box-shadow: 0 4px 8px 0 rgba(#000, .5);
    border-radius: 12px;
    top: 90px;

    &__in {
        max-height: 500px;
        overflow: auto;
        
        &::-webkit-scrollbar {
            width: 4px;
        }
    }

    &__not {
        margin-top: 32px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
    }

    &__title {
        display: block;
        margin-bottom: 16px;
        color: #8698A2;
        font-size: 12px;
        font-weight: 600;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    &__cover {
        width: 99px;
        height: 58px;
        margin-right: 16px;
        border-radius: 4px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        margin-bottom: 4px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

    &__cat {
        color: #8698A2;
        font-size: 14px;
        font-weight: 500;
    }

    &__menu {
        margin-top: 32px;
        display: block;
    }

    &__link {
        display: block;
        margin-top: 14px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            color: #31CDC9;
            text-decoration: underline;
        }
    }
}