.homebaner-box{
    width: 100%;
    height: 204px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 64px;
    p{
        font-size: 32px;
        color: white;

        @media (max-width: 1024px) {
            text-align: center;
            font-size: 22px;
        }
    }

    @media (max-width: 1024px) {
        padding-left: unset;
        display: flex;
        justify-content: center;
        padding: 0 24px;
    }
}
.baner-text{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 64px;
}
.baner-text{
    color: white;
    font-size: 32px;
}