.slot {
    width: 100%;
    
    &__content {
        width: 100%;
        background-color: #19212A;
        border-radius: 12px;
        padding: 24px;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            background-color: transparent;
            padding: 0;
        }
    }

    &__cat {
        margin-bottom: 8px;
        color: #8698A2;
        font-size: 14px;
        font-weight: 600;
    }

    &__title {
        margin-bottom: 24px;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
    }

    &__view {
        width: 100%;
        height: 572px;
        display: block;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        background-color: #8698A2;

        @media (max-width: 1024px)  {
            width: unset;
            margin-left: -24px;
            margin-right: -24px;
            height: 100vw;
            max-height: 100vh;
            min-height: 211px;
        }

        &-fullscreen {
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 110%;
            z-index: 5;
        }
    }

    &__btns {
        margin: 20px 0 40px 0;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        max-width: 746px;
        margin: auto;
        color: #8698A2;
        font-size: 14px;
        font-weight: 500;
        text-align: center;

        h1 {
            margin-bottom: 15px;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
        }

        p {
            margin-bottom: 15px;
        }
    }
}
.game-loader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}
.game-loading-error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.maximize-button{
    width: 32px;
    height: 32px;
    background: #3D4C54;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    &-mini {
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 6;
    }
}
.maximize-container{
    display: flex;
    align-items: center;
    p{
        color: #8698A2;
        margin-right: 10px;
        font-size: 14px;
    }
}
.switch-demo-button{
    display: flex;
    align-items: center;
    p{
        margin-left: 10px;
        color: #8698A2;
        font-size: 14px;
    }
}