.back-block{
    // position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}
.back-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #19212A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-text{
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}