.title {
    border-left: 3px solid #FFDA00;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.head-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    
    h3{
        margin-top: 0px;
    }
    a{
        color: white;
        &:hover{
            color: #31CDC9;
        }
    }
}