.nft-exchanger-container {
  width: 90%;
  max-width: 848px;
  display: flex;
  margin: auto;
  margin-top: 76px;
  align-items: center;
  justify-content: space-between;
  .nft-wallet-container,
  .changed-nft-container {
    width: calc(50% - 24px);
    p {
      font-weight: bold;
      color: white;
      font-size: 16px;
      margin-bottom: 16px;
      span {
        color: #31cdc9;
      }
    }
  }
  .nft-wallet-box,
  .changed-nft-wallet-box {
    width: 100%;
    height: 460px;
    background: #222a32;
    border-radius: 12px;
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: none;
      padding-top: 16px;
      height: 200px;
    }
    &::-webkit-scrollbar-thumb {
      background: #3D4C54;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #2d373d;
    }
  }
}
.changed-nft-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.earned-quacks {
  display: flex;
  align-items: center;
}
.reload-icon {
  margin-left: 19px;
  margin-bottom: 16px;
}
.nfts-in-wallet-list {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0px;
  li {
    padding: 0px;
    margin: 0px;
    margin-left: 4px;
    height: 161px;
    border-radius: 6px;
    border: 2px solid #222A32;
    margin-top: 16px;
  }
  .nft-container-list {
    margin-top: -94px;
  }
}
.nested-nfts-list{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10px;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    li{
        padding: 0px;
        margin: 0px;
        margin-left: 4px;
        height: 161px;
        border-radius: 6px;
        border: 2px solid #222A32;
        margin-top: 16px;
    }
    .nft-container-list {
        margin-top: -94px;
    }
}
