.method {
    display: block;

    &-title {
        margin-bottom: 19px;
        color: #8698A2;
        font-size: 12px;
        font-weight: 600;
    }
}

.item {
    padding: 10px 30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        background-color: #222A32;
    }

    &-logo {
        min-width: 48px;
        height: 48px;
        margin-right: 16px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-content {
        width: 100%;
    }

    &-title {
        margin-bottom: 4px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

    &-addres {
        color: #8698A2;
        font-size: 14px;
        font-weight: 500;
    }

    &-check {
        min-width: 20px;
        height: 20px;
        padding: 3px;
        border: 1px solid #3D4C54;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-checked {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
        }

        &-radio {
            opacity: 0;
            position: absolute;
            z-index: -1;

            &:checked ~ .item-check-checked {
                background-color: #FFDA00;
            }
        }
    }
}