.menu {
    margin-bottom: 47px;

    &__title {
        margin-bottom: 25px;
        border-left: 3px solid #FFDA00;
        padding-left: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
    }

    &__list {
        list-style: none;
        margin-left: 3px;
    }

    &__item {
        display: block;
    }

    &__link {
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        color: #8698A2;
        font-size: 14px;
        font-weight: 500;

        &:hover {
            color: #fff;
        }

        &--active {
            color: #fff;
        }
        
        &--icon {
            margin-right: 12px;
            width: 20px;
            height: 20px;

            &img{
                width: 20px !important;
            }
        }
    }


    .text__cyen{
        color: #31CDC9;
        margin-left: 5px;
    }
}