.items-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -32px;

    @media (max-width: 1024px) {
        overflow-y: hidden;
        overflow-x: auto;
    }
}

.items-section {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}
.section-title{
    margin-top: 48px;
    padding-left: 10px;
    border-left: 3px solid #FFDA00;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.game-head-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    h3{
        margin-top: 0px;
    }
    a{
        color: #31CDC9;
    }
}