.nesting-steps-container{
    margin-top: 52px;
    width: 100%;
    .nesting-steps-steps-description{
        width: 80%;
        max-width: 506px;
        color: white;
        font-size: 16px;
        text-align: center;
        margin: auto;
    }
}