.date {
    display: block;
    min-width: 276px;
    padding: 16px 32px 32px 32px;

    &-title {
        margin-top: 16px;
        margin-bottom: 8px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }
}