.banner {
    width: 100%;
    height: 204px;
    padding-left: 56px;
    margin-bottom: 40px;
    border-radius: 24px;
    position: relative;
    background-image: url("./../../../../icons/content-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 1200px) {
        padding-left: 20px;
    }

    @media (max-width: 1024px) {
        padding-left: 0;
    }

    &__cover {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }
    .register-info-section{
        max-width: 372px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 1024px) {
            max-width: unset;
            padding: 0 5px;

            left: unset; 
            transform: unset;
        }
    }
    .bonus-percents{
        font-size: 63px;
        color: #31CDC9;
        line-height: 63px;

        @media (max-width: 1024px) {
            display: none;
        }
    }
    .register-text-regular{
        text-align: center;
    }
    .bonus-text{
        font-size: 22px;
        color: white;

        @media (max-width: 1024px) {
            display: none;
        }
    }
    .register-text-regular{
        color: white;
    }
    .text-cyan{
        color: #31CDC9;
    }
    .text-yellow{
        color: #FFDA00;
    }
    .duck-image{
        align-self: flex-end;
        position: absolute;
        right: 0;

        @media (max-width: 1024px) {
            display: none;
        }
    }
    .register-btn{
        color: black;
        background: white;
        border: 1px solid white;
        border-radius: 24px;
        height: 46px;
        padding: 0px 58px;
        margin-top: 24px;
        cursor: pointer;
    }
}