.menu {
    background-color: #19212A;
    display: flex;
    align-items: center;
    padding: 0 32px;
    margin-right: 32px;
    border-radius: 24px;

    @media (max-width: 1200px) {
        margin-right: 20px;
    }

    @media (max-width: 1024px) {
        width: 100%;
        margin-right: 6px;
        justify-content: space-around;
        padding: 0 16px;
    }
    
    &__item {
        list-style: none;
        
    }
    &__link {
        padding: 14px 0;
        margin: 0 6px;
        position: relative;
        display: flex;
        justify-content: center;
        color: #8698A2;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;

    }
    
    &__active {
        color: #31CDC9;

        &::before{
            content: "";
            width: 80%;
            height: 2px;
            background-color: #31CDC9;
            position: absolute;
            bottom: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}