.loader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;

    &-item{
        max-width: calc(100% / 4);
        width: 100%;
        height: 238px;
        margin-top: 56px;
        padding: 0 8px;
    
        @media (max-width: 1200px) {
            max-width: calc(100% / 3);
        }
        
        @media (max-width: 1024px) {
            max-width: calc(100% / 2);
        }
    
        @media (max-width: 600px) {
            max-width: calc(100% / 1);
        }

        &-cover {
            width: 100%;
            height: 180px;
        }

        &-title {
            width: 80%;
            height: 20px;
            margin-top: 16px;
        }
        &-cat {
            width: 20%;
            margin-top: 4px;
            height: 18px;
        }
    }
}