.sidebar {
    min-width: 200px;
    margin-right: 16px;

    @media (max-width: 1024px) {
        display: none;
    }

    &.active {
        display: block;
        min-width: 80%;
        width: 80%;
        z-index: 2;
        overflow: auto;
    }

}