.auth-head-container{
    padding: 59px 0px 0px 24px;
}
.back-button{
    display: flex;
    align-items: center;
}
.back-icon{
    height: 32px;
    width: 32px;
    background: #19212A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.back-text{
    margin-left: 10px;
    color: white;
    font-size: 16px;
}
.auth-title{
    margin-top: 56px;
    color: white;
}