.minimum {
    width: 100%;
    margin-bottom: 32px;
    padding: 10px 0;
    background-color: #242A31;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}