.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    &-loading {
        width: 200px;
        height: 40px;

        @media (max-width: 1024px) {
            width: 20px;
            height: 20px;
        }
    }

    @media (max-width: 1024px) {
        flex-grow: unset;    
    }

    &__item {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    &__reg {
        margin-right: 40px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }

    &__sign {
        min-width: 114px;
        padding: 13px 32px;
        background-color: #31CDC9;
        border-radius: 24px;
        color: #222A32;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }

    &__profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 16px 6px 6px;
        background-color: #19212A;
        border-radius: 24px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        font-weight: 600;

        @media (max-width: 1024px) {
            padding: 0;
        }
    }

    &__avatar {
        width: 36px;
        height: 36px;
        margin-right: 16px;
        border-radius: 50%;
        overflow: hidden;

        @media (max-width: 1024px) {
            margin-right: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__arrow {
        margin-left: 8px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__text {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}