.header {
    width: 100%;
    background-color: #222A32;
    padding: 22px 0px; 
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    @media (max-width: 1024px) {
        position: relative;
    }

    &__comp {
        width: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            justify-content: space-between;
        }
    }

    &-mobile {
        &-btn {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }

        &-bar {
            background-color: #222A32;
        }
    }
}