.game-box-container-out {
    width: 50%;
    padding: 0 8px;

    @media (max-width: 1024px) {
        width: 100%;
    }
}
.game-box-container{
    width: 100%;
    // height: 430px;
    background: #19212A;
    border-radius: 12px;
    margin-top: 16px;
}
.game-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 212px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.game-icon{
    height: 24px;
}
.game-title-block{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: white;
        font-size: 22px;
        margin-left: 8px;
    }
}
.game-description{
    width: 80%;
    text-align: center;
    margin: auto;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.game-description-text{
    color: #8698A2;
    line-height: 20px;
    font-size: 16px;
}