$Width: 100%;

.eside {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    left: 0;
    top: 0;
    z-index: 2;

    &-bg {
        width: 100%;
        height: 100%;
        background-color: #12161C;
        opacity: .9;
        position: absolute;
    }

    &-content {
        width: 0;
        height: 100%;
        max-width: 390px;
        padding: 50px 30px;
        display: block;
        background-color: #19212A;
        box-shadow: 0 4px 8px 0 rgba( #000, .5);
        border-left: 1px solid #202935;
        z-index: 1;
        overflow: auto;
        animation-name: SlowOpenMenu;
        animation-duration: .4s;
    }

    &-back {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &-count {
            color: #8997A1;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &-step {
        &-title {
            margin: 48px 0 32px 0;
            color: #fff;
            font-size: 22px;
            font-weight: 600;
        }
    }

    &-active {
        width: $Width;
        animation-name: SlowOpenMenuopen;
        animation-duration: .4s;
    
        @keyframes SlowOpenMenuopen {
            0%   {width: 10%;}
            100% {width: $Width;}
        }
    }
    

    @keyframes SlowOpenMenu {
        0%   {width: $Width;}
        100% {width: 10%;}
    }

    &-close {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
            padding: 4px;
            margin-right: 16px;
            background-color: #222A32;
            border-radius: 50%;
        }
    }
}