.item {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #19212A;
    padding-bottom: 32px;
    overflow: hidden;

    &__out {
        width: 50%;
        height: 100%;
        padding: 0 8px;
        margin-bottom: 8px;
        margin-top: 8px;

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &__cover {
        width: 100%;
        height: 212px;
        margin-bottom: 32px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        width: 100%;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 22px;
        font-weight: 700;

        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
    }

    &__desc {
        max-width: 413px;
        width: 90%;
        min-height: 90px;
        margin: 0 auto 24px auto;
        color: #8698A2;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;

        a {
            padding: 13px 32px;
            border-radius: 24px;
            border: 1px solid #31CDC9;
            color: #31CDC9;
            font-size: 16px;
            font-weight: 600;
        }
    }
    &__go-to-btn{
        display: flex;
        justify-content: center;
    }
}