.init-nesting-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 48px;
}
.init-nesting-button{
    width: 217px;
    height: 46px;
    border-radius: 24px;
    background-color: #FFDA00;
    border: 1px solid #FFDA00;
    font-size: 16px;
    color: #222A32;
}