.step-circles-container{
    width: 90%;
    max-width: 848px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: 54px auto 0px auto;
    .step-number{
        width: 72px;
        height: 72px;
        z-index: 1;
        background: #222A32;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color: white;
            font-size: 28px;
        }
    }
    .step{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .step-description{
        height: 36px;
        font-size: 14px;
        text-align: center;
        color: white;
        margin-top: 15px;
    }
}
.dotted-line{
    width: 578px;
    height: 5px;
    margin-bottom: 52px;
    z-index: 0;
    position: absolute;
    background-image: linear-gradient(to right, #3D4C54 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 7px 2px;
    background-repeat: repeat-x;
}