*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #222A32;
  background-color: #19212A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
#root {
  display: flex;
} */

.container {
  max-width: 1293px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1068px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 940px;
  }
}


@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}