.casino-game-block{
    max-width: calc(100% / 4);
    width: 100%;
    height: 238px;
    margin-top: 56px;
    padding: 0 8px;

    @media (max-width: 1200px) {
        max-width: calc(100% / 3);
    }
    
    @media (max-width: 1024px) {
        max-width: calc(100% / 2);
    }

    @media (max-width: 600px) {
        max-width: calc(100% / 1);
    }
}
.game-image{
    width: 100%;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.game-description{
    height: 58px;
    width: 100%;
}
.game-name{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
}
.game-type{
    color: #8698A2;
    font-size: 14px;
    margin-top: 4px;
}