$Width: 75%;

.sidebar {

    &-title {
        margin-bottom: 32px;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
    }

    @media (max-width: 1024px) {
        padding: 24px 0 0 24px;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        min-width: $Width;
        height: 100%;
        // background-color: #19212A;
        z-index: 0;
        animation-name: SlowOpenMenu;
        animation-duration: .4s;
    }

    @keyframes SlowOpenMenu {
        0%   {min-width: 1%;}
        100% {min-width: $Width;}
    }
}